<!doctype html>
<html>

<head>
  <title>Login Page</title>
<head>

<body>
  <h1>User Login</h1>
  <form method="post" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>

  <form method="post" action="/signup">
      <label for="signup"> Not a member, sign up</label>
      <input type="submit" value="here" id="signup">
  </form>

</body>

</html>
